<!doctype html><html lang="en"><head><%- include("../partials/head", { title }) %></head><body><%- include("../partials/navbar") %><div class="app-shell"><%- include("../partials/sidebar") %><main class="content p-4"><%- body %></main></div><%- include("../partials/footer") %><%- include("../partials/alerts") %><%- include("../partials/scripts") %></body></html>
